
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!-- h1 class="logo mr-auto"><a href="/">EDUGUIDE</a></h1 -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index" class="logo mr-auto"><img src="./img/logo/logo.png" alt="EDUGUIDE" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>

          <% if(isAuthenticated) { %>
            <li><a href="/build-profile">Build Profile</a></li>
            <li class="<% if(path === '/my-profile') { %>active<% } %>"><a href="/my-profile">Profile</a></li>
            <li class="<% if(path === '/get-my-courses') { %>active<% } %>"><a href="/get-my-courses">My Courses</a></li>
            <li class="<% if(path === '/get-courses') {%>active<% } %>"><a href="/get-courses">All Courses</a></li>
            <li class="<% if(path === '/get-instructors') {%>active<% } %>"><a href="/get-instructors">All Instructors</a></li>
            <% if(isAdmin) { %>
              <li class="drop-down"><a href="">ADMIN</a>
                <ul>
                  <li><a href="#">2019</a></li>
                  <li class="drop-down"><a href="#">Admin Operations</a>
                    <ul>
                      <li><a href="/admin/add-course">Add Course</a></li>
                      <li><a href="/admin/add-instructor">Add Instructor</a></li>
                      <li><a href="#">MNC</a></li>
                      <li><a href="#">Electrical</a></li>
                      <li><a href="#">Mechanical</a></li>
                    </ul>
                  </li>
                  <li><a href="#">2018</a></li>
                  <li><a href="#">2017</a></li>
                  <li><a href="#">2016</a></li>
                </ul>
              </li>
            <% } %>
            
          <% } %>

          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <% if(isAuthenticated) { %>
        <form class="" action="/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="get-started-btn" name="button">Logout</button>
        </form>
        <!-- <a href="/logout" class="get-started-btn">Logout</a> -->
      <% } %>

      <% if(!isAuthenticated) { %>
        <!-- if the user is already in the login page -->
        <% if(path !== "/login") { %>
         <a href="/login" class="get-started-btn">Login</a>
        <% } %>
        <% if(path !== "/signup") { %>
          <a href="/signup" class="get-started-btn">Signup</a>
        <% } %>
        
      <% } %>


    </div>
  </header><!-- End Header -->
