<%- include("../partials/header.ejs") -%>
<%- include("../partials/navigation.ejs") -%>
<!--
ZigZag Template
http://www.templatemo.com/tm-471-zigzag
-->
            
    <!-- <<Attched Stylesheets>> -->
	<link rel="stylesheet" href="./home/css/theme.css" type="text/css" />
	<link rel="stylesheet" href="./home/css/media.css" type="text/css" />
	<link rel="stylesheet" href="./home/css/font-awesome.min.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,600italic' rel='stylesheet' type='text/css'>
    
    <!-- <<Attched Javascripts>> -->
	<script type="text/javascript" src="./home/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="./home/js/core.js"></script>
	<script type="text/javascript" src="./home/js/modernizr.js"></script>
	
<body>

<!-- \\ Begin Holder \\ -->
<div class="DesignHolder" style="padding-top:30px">
	
	<!-- \\ Begin Frame \\ -->
	<div class="LayoutFrame">
		
		<!-- \\ Begin Header \\ -->
		<header class="header">
        	<div class="Center">
				
               <!-- \\ Begin Top Bar \\ -->
                <div class="Top_Bar">	
                    
                    <div class="site-logo">
                    
                        <a href="#"><figure><img src="./img/logo/logo.png" alt="Image"></figure></a>
                                            
                    </div>
			
                    <!-- \\ Begin Navigation \\ -->
                    <!--nav class="Navigation">
        
                        <ul>
                            <li class="active"><a href="#"><span>home</span></a></li>
                            <li class="gap"><a href="#About"><span>about</span></a></li>
                            <li class="gap gap1"><a href="#Contact"><span>contact</span></a></li>
                        </ul>
                        
                        <figure><img src="img/triangle-img.png" alt="Image" class="triangle"></figure>
        
                    </nav-->
                    <!-- // End Navigation // -->
	
                  <div class="clear"></div>
                </div>
                <!-- // End Top Bar // -->
              

                <!-- \\ Begin Product Section \\ -->
                <div class="Product_sec" id="about">
    				
                    <ul>
                    	<li>
                        	<div class="right">

                                <div class="img">
                        
                                    <figure><img src="./img/logo/iith.png" height="300px" width="200px" alt="Image"></figure>
                                
                                </div>

                                <div class="Details">
                                    
                                    <h3>EDUGUIDE <span>IIT Hyderabad | IIIT Raichur</span> </h3>
                                    
                                    <p>This is the platform where you can find and add all the assignments and question papers of several courses that will help others.</p>
                                    
                                    <% if(!isAuthenticated) { %>
                                        <a href="login" class="button">Login</a>
                                    <% } %>
                                    
                                
                                </div>

                        	</div>                            
                        </li>

                    	<li>
                        	<div class="left">

                                <div class="img">
                                    
                                    <figure><img src="./img/logo/raichur.png" height="300px" width="200px" alt="Image"></figure>
                                    
                                </div>

                                <div class="Details">
                                    
                                    <h3>How it works !<span></span> </h3>
                                    
                                    <p>Login / Create your account, follow your courses, and upload the assignments/question papers. Comment and Download the previously posted material. Keep updating regularly and help others to get the appropriate content.</p>
                                    
                                    <% if(!isAuthenticated) { %>
                                        <a href="signup" class="button">Sign Up</a>
                                    <% } %>
                                    
                                
                                </div>
                           
                           	</div> 
                        </li>
                    </ul>                    
    
                </div>
                <!-- // End Product Section // -->
				
                <a href="#About"><figure><img src="img/arrow-img.png" alt="Arrow" class="arrow"></figure></a>
                
			</div>
		</header>
		<!-- // End Header // -->
		
		<!-- \\ Begin Container \\ -->
		<div id="Container">

			<!-- \\ Begin Middle Section \\ -->
			<div class="Middle_sec" id="About">
            	<div class="Center">
                	
                    <div id="Leftside">
                    	
                        <div class="Client">                        	

                            <figure><a href="#"><img src="img/team/nazish.jpeg" alt="Nazish Kaunian"  height="75px" width="75px"  class="img-rounded"></a></figure>                        	
                            <h3>Nazish Kaunian</h3>
                        </div>
                        
                        <div class="Client1">                        	
                            <figure><a href="https://github.com/LambdaIITH"><img src="img/logo/lambda.png" alt="Lambda IIT Hyderabad"></a></figure>                        	
                            <p>IIT Hyderabad<br>Web Development Club</p>                            
                            <h3>LAMBDA</h3>	                        
                        </div>
                        
                        <div class="Client2">                        	
                            <figure><a href="https://vibhanshujainiiitr.github.io"><img src="img/team/vibhanshu.jpeg" height="75px" width="75px" alt="Vibhanshu Jain"></a></figure>                            
                            <h3>Vibhanshu Jain</h3>	                        
                        </div>

                    </div>
                
                	<div id="Rightside">
                    
                    	<ul>
                        	<li>
                            	<div class="Industrial">
                                	
                                    <figure><img src="img/Industrial-img.png" alt="Image"></figure>
                                    
                                </div>
                                
                                <div class="Information">
                                
                                	<h4>Join as an <span>Instructure</span></h4>	
                                	
                                    <p>Contact us to join as an Instructure so that all students can follow your couses. </p>
									
                                    <ul>
                                    	<li><a href="mailto:es19btech11006@iith.ac.in"><i class="fa fa-envelope"></i></a></li>
                                    	<li><a href="tel://9680017462"><i class="fa fa-phone"></i></a></li>                                    </ul>
                                    
                                </div>
                            </li>
                        	<li>
                            	<div class="Industrial">
                                	
                                    <figure><img src="img/Industrial-img1.png" alt="Image"></figure>
                                    
                                </div>
                                
                                <div class="Information">
                                
                                	<h4>Join as<span> Admin</span></h4>	
                                	
                                    <p>Help us to manage the things easily and efficiently by becoming one of the Admin. For more details contact us in the links given below.</p>
									
                                    <ul>
                                    	<li><a href="mailto:es19btech11006@iith.ac.in"><i class="fa fa-envelope"></i></a></li>
                                    	<li><a href="tel://9680017462"><i class="fa fa-phone"></i></a></li>
                                    </ul>
                                    
                                </div>
                            </li>
                        </ul>

                    </div>

				</div>
			</div>
			<!-- // End Middle Section // -->
            	

			<!-- \\ Begin Contact Section \\ -->
			<div class="Contact_sec" id="Contact">
        		
				<!-- \\ Begin Contact Side \\ -->
        	    <div class="Contactside">
    	        	
	                <div class="Center">
                
                        <div class="Form">
                            
                            <h3>contact <span>us</span></h3>
                        
                            <form method="post" action="#">
                                <fieldset>
                                    
                                    <p><input name="name" type="text" class="field" id="name" maxlength="50" placeholder="NAME"></p>
                                
                                    <p><input name="email" type="email" class="field1" id="email" placeholder="EMAIL"></p>
                                
                                    <p><textarea name="message" id="message" placeholder="MESSAGE"></textarea> </p>
                                
                                    <p><input name="submit" type="submit" class="Button" id="submit" value="send"></p>
                                
                                </fieldset>
                            </form>
                        
                        </div>
                    </div>
                        
                    <!-- \\ Begin map Section \\ -->
                    <div class="map_sec">
                        
                        <div class="center">
                
                             <div id="GoogleMap"></div> 
    
                        </div>
                    
                    </div>
                    <!-- // End map Section // -->
               
               
                </div>
                <!-- // End Contact Side // -->
	
			</div>
			<!-- // End Contact Section // -->
            

		</div>
		<!-- // End Container // -->
		
<%- include("../partials/footer.ejs") -%>
		
</div>
<!-- // End Layout Frame // -->

</div>
<!-- // End Design Holder // -->

</body>
</html>
